
body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  flex-direction: column;
  background-image: linear-gradient(to top, #404040, #e7e7e7);
}

html {
  height: 100%;
}


.topnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav .logo {
  float: left;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.topnav .contact {
  float: right;
  display: block;
}

.topnav .contact a {
  color: rgb(0, 1, 0);
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav .contact a:hover {
  color: #bfbfbf;
}


.hamburger-menu {
  position: fixed;
  top: 15px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 20;
}

.hamburger-menu div {
  width: 2rem;
  height: 0.25rem;
  background-color: #414141;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}


.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  background-color: #8d8d8d;
  z-index: 100;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2%;
  transition: transform 0.3s ease-out;
  transform: translateX(100%);
}

.menu a {
  display: block;
  color: #e0e0e0;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s linear;
  margin-bottom: 1rem;
}

.menu a:hover {
  color: #ddd;
}

.menu.active {
  transform: translateX(0);
}

.menu .contact a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  display: block;
}


.about {
  margin-top: 80px;
  padding: 50px;
}

.about h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

#invisblebutton {
  opacity: 0;
  width: 300px;
  height: 300px;
}

#counter {
  margin-top: 80px;
  margin-left: 50px;
  padding: 50px;
}