
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  flex-direction: column;
  background-color: #1a1a2e; 
  color: #e0e0e0; 
  padding: 20px;
}

html {
  height: 100%;
}


.hamburger-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.logo {
  margin-top: -20px;
}

.hamburger-menu div {
  width: 2rem;
  height: 0.25rem;
  background: #e0e0e0; 
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}


.menu {
  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 200px;
  background: #0a0a15; 
  padding: 1rem;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.menu a {
  display: block; 
  color: #e0e0e0; 
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s linear;
  margin-bottom: 1rem; 
}

.menu a:hover {
  color: #ddd; 
}

.menu.active {
  transform: translateX(0);
}


.about {
  margin-top: 100px; 
  padding: 50px;
}

.about h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-top: 60px; 
}

.about p {
  font-size: 18px;
  line-height: 2; 
  margin-bottom: 20px;
}


.bottom-button {
  position: fixed;
  float: right;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  color: #ffffff; 
  text-decoration: none;
  border-radius: 5px;
  z-index: 1000;
}

.bottom-buttons {
  float: left;
  position: fixed;
  bottom: 20px;
  left: 20px; 
  padding: 10px 20px;
  background: #e67e22; 
  color: #ffffff; 
  text-decoration: none;
  border-radius: 5px;
  z-index: 1000;
}


